<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ElCapitan</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple20/v4/dc/94/05/dc940501-f06f-2a91-555e-3dc272653af5/izt4803713449411067066.pkg</string>
		<key>version</key>
		<string>10.11.6</string>
	</dict>
	<key>FinalCutPro</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
        <string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple117/v4/2e/b9/34/2eb9344b-317d-0367-d9e8-fe9cc45e3ab9/luk7632056848069070249.pkg</string>
		<key>version</key>
		<string>10.3.4</string>
	</dict>
	<key>GarageBand</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple117/v4/1f/b7/f2/1fb7f20f-b517-54eb-64a6-6c66f54b469e/dkf9213242788828583859.pkg</string>
		<key>version</key>
		<string>10.2</string>
	</dict>
	<key>LogicProX</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/7e/cb/3d/7ecb3dd8-0e15-7ab3-76d2-3133d6f194b7/mss8491519819973083018.pkg</string>
		<key>version</key>
		<string>10.3.1</string>
	</dict>
	<key>MainStage</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple122/v4/93/35/6e/93356ec5-faa0-b2de-9a14-2c68f96dd746/fpn3972236659411213368.pkg</string>
		<key>version</key>
		<string>3.3</string>
	</dict>
	<key>Keynote</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple127/v4/4c/06/d1/4c06d1a7-a11f-5007-1559-d110983d2950/uok4207324746392610055.pkg</string>
		<key>version</key>
		<string>7.2</string>
	</dict>
	<key>Numbers</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple117/v4/eb/5b/88/eb5b88e8-583d-48ee-3ba5-20c41738c3b1/utt388316018625994914.pkg</string>
		<key>version</key>
		<string>4.2</string>
	</dict>
	<key>Pages</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple127/v4/c9/77/26/c9772693-6822-d9ef-3d11-2772a7cde73b/wus8330472585258558988.pkg</string>
		<key>version</key>
		<string>6.2</string>
	</dict>
	<key>Server</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/05/c8/80/05c880c6-aaf7-fdad-fb74-2ab84b13bcc1/mxo4945471604858862797.pkg</string>
		<key>version</key>
		<string>5.3</string>
	</dict>
	<key>Sierra</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
        <string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/86/89/3d/86893d5a-e091-9653-5d20-b22aab180f78/iyu1194865269351609080.pkg</string>
		<key>version</key>
		<string>10.12.5</string>
	</dict>
	<key>Xcode</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple127/v4/8b/96/1e/8b961e54-037f-e71a-1b87-3a4dba8d34a7/eds8725065355495051464.pkg</string>
		<key>version</key>
		<string>8.3.3</string>
	</dict>
	<key>iMovie</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple19/v4/4a/2c/53/4a2c5393-b946-ee89-6066-6dc7ba95ea62/uhp1463823430642787132.pkg</string>
		<key>version</key>
		<string>10.1.6</string>
	</dict>
</dict>
</plist>
