<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ElCapitan</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple20/v4/dc/94/05/dc940501-f06f-2a91-555e-3dc272653af5/izt4803713449411067066.pkg</string>
		<key>version</key>
		<string>10.11.6</string>
	</dict>
	<key>FinalCutPro</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
        <string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple19/v4/ed/cb/db/edcbdb70-7881-a5e7-1a18-558fb96df8a9/bqa1145527233661137693.pkg</string>
		<key>version</key>
		<string>10.3.1</string>
	</dict>
	<key>GarageBand</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/35/55/ff/3555ff9b-3210-f98a-4193-cae07676a621/nrh2697514682246985131.pkg</string>
		<key>version</key>
		<string>10.1.4</string>
	</dict>
	<key>Keynote</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple62/v4/6e/1a/8f/6e1a8f66-6b54-6326-c0db-36103b5c348c/icz1265015878622586274.pkg</string>
		<key>version</key>
		<string>7.0.5</string>
	</dict>
	<key>Numbers</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple71/v4/f9/46/5f/f9465f7a-5d17-cb94-37a3-b83e15beeb13/ton4631605555854163753.pkg</string>
		<key>version</key>
		<string>4.0.5</string>
	</dict>
	<key>Pages</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple62/v4/4d/03/c2/4d03c20f-f928-0390-52e4-caaaa96cc84a/ftc6537675000535541069.pkg</string>
		<key>version</key>
		<string>6.0.5</string>
	</dict>
	<key>Server</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple62/v4/44/71/01/44710118-b2c9-1e31-73f6-fa7a0a26e594/wjs7031774084062486733.pkg</string>
		<key>version</key>
		<string>5.2</string>
	</dict>
	<key>Sierra</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple122/v4/9f/5d/db/9f5ddb80-20b0-fef9-fa7f-8e59e4724360/uen6942936571579708798.pkg</string>
		<key>version</key>
		<string>10.12.2</string>
	</dict>
	<key>Xcode</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple71/v4/ae/d4/53/aed45309-3a4d-9aae-db37-228eefdf19cd/jwv5437479270530563953.pkg</string>
		<key>version</key>
		<string>8.2</string>
	</dict>
	<key>iMovie</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple71/v4/3b/ff/82/3bff82f9-776e-1755-b48a-20337baff813/ose2239999586440224063.pkg</string>
		<key>version</key>
		<string>10.1.4</string>
	</dict>
</dict>
</plist>
