<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ElCapitan</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple20/v4/dc/94/05/dc940501-f06f-2a91-555e-3dc272653af5/izt4803713449411067066.pkg</string>
		<key>version</key>
		<string>10.11.6</string>
	</dict>
	<key>FinalCutPro</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
        <string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple122/v4/b8/1d/14/b81d1495-db01-e276-7d0d-29037e77c176/hyu5195333675358725062.pkg</string>
		<key>version</key>
		<string>10.3.2</string>
	</dict>
	<key>GarageBand</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple122/v4/a2/71/af/a271afe8-8290-950c-71ba-8269e2e61dcd/ufj8165153607325069601.pkg</string>
		<key>version</key>
		<string>10.1.6</string>
	</dict>
	<key>LogicProX</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/7e/cb/3d/7ecb3dd8-0e15-7ab3-76d2-3133d6f194b7/mss8491519819973083018.pkg</string>
		<key>version</key>
		<string>10.3.1</string>
	</dict>
	<key>MainStage</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple122/v4/93/35/6e/93356ec5-faa0-b2de-9a14-2c68f96dd746/fpn3972236659411213368.pkg</string>
		<key>version</key>
		<string>3.3</string>
	</dict>
	<key>Keynote</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple122/v4/b4/b1/49/b4b149dd-f4ff-036a-36b0-387eaff2e72f/hyz2787733770816633122.pkg</string>
		<key>version</key>
		<string>7.1</string>
	</dict>
	<key>Numbers</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/2c/c1/0e/2cc10e6d-f8fe-5e8b-410c-fe684eebe285/wfb8181874853292764343.pkg</string>
		<key>version</key>
		<string>4.1</string>
	</dict>
	<key>Pages</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple122/v4/c9/3b/aa/c93baa51-1b2d-5df7-e184-3987af3ab281/gzm6559372443298506362.pkg</string>
		<key>version</key>
		<string>6.1</string>
	</dict>
	<key>Server</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/05/c8/80/05c880c6-aaf7-fdad-fb74-2ab84b13bcc1/mxo4945471604858862797.pkg</string>
		<key>version</key>
		<string>5.3</string>
	</dict>
	<key>Sierra</key>
	<dict>
		<key>type</key>
		<string>installer</string>
		<key>url</key>
        <string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/8e/39/4b/8e394b51-fbd5-ac4e-5a32-8fb46fcb4df5/yqh6139099876523829387.pkg</string>
		<key>version</key>
		<string>10.12.4</string>
	</dict>
	<key>Xcode</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple111/v4/7d/3c/fe/7d3cfec8-391f-6982-c29a-9dba17b91118/gdo4942453789388330376.pkg</string>
		<key>version</key>
		<string>8.3</string>
	</dict>
	<key>iMovie</key>
	<dict>
		<key>type</key>
		<string>app</string>
		<key>url</key>
		<string>http://osxapps.itunes.apple.com/apple-assets-us-std-000001/Purple71/v4/3b/ff/82/3bff82f9-776e-1755-b48a-20337baff813/ose2239999586440224063.pkg</string>
		<key>version</key>
		<string>10.1.4</string>
	</dict>
</dict>
</plist>
